.rating {
    font-weight: bold;
    font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 15px;
    text-align: center;
    color: white;
}