
$primary: #008D36;
$secondary: #FCFBF6;
$tertiary: #FFF8E4;
$tertiary-dark: #EADFC0;
$tertiary-darker: #6F5508;
$danger: #B00020;
$primary-variant: #cc8cba;
$primary-hover: #f2e3ee;
$primary-btn: black;
$primary-text: black;

$poor: #CE100D;
$average: #FFC107;
$good: #0B7B00;

$body-bg: $tertiary;