
@import "../../styles/variables";

.navbar {
    * {
        color: $secondary !important;
    }

    .navbar-dropdown-item {
        color: $primary !important;
    }
    .navbar-dropdown-item:hover {
        background-color: $primary-hover;
    }

    .product-search {
        color: black !important;
    }
}