
.shopmap {
    position: relative;

    .search-container {
        position: absolute;
        top: -10px;
        width: 100%;
        z-index: 1;
    }

    .map-container {
        box-shadow: 0 8px 10px rgba(234, 223, 192, 0.08), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 8px 10px rgba(234, 223, 192, 0.08), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}