
$primary: #79126f;
$secondary: #fefefe;
$danger: #B00020;
$primary-variant: #cc8cba;
$primary-hover: #f2e3ee;
$primary-btn: black;

$poor: #CE100D;
$average: #FFC107;
$good: #0B7B00;

$body-bg: $primary;