
.new-ingredient-container {
    margin-bottom: 15px;
}

.new-ingredient-form {
    padding: 5px;
    margin-top: 20px;
}

.new-ingredient-form-btn-container {
    display: flex;
    justify-content: center;
}

.ingredients-search-container {
    display: flex;
    flex-direction: row;
}

.ingredients-search {
    flex: 1;
    margin-right: 10px;
}

.ingredients-list-msg {
    color: gray;
    margin-top: 10px;
    margin-left: 20px;
}