
@import "styles/variables";

.custom-nav {
    padding: 30px 35px;
    text-decoration: none;

    .brand-text {
        color: $primary;
    }

    .custom-nav-link {
        margin-left: 50px;
        color: $primary-text !important;
    }

    .custom-nav-link:hover {
        color: $primary !important;
    }
}